@import "../../styles/common.scss";

.notFound {
  padding: 80px 0 80px 20px;
  background: white;
  min-height: 450px;
  p {
    line-height: 1.4;
    margin-top: 6px;
  }
  & .title {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
  }
  a {
    text-decoration: underline;
  }
}
