//@import "ASSETS/Css/_variables.scss";

.wContainer{
    float: left;
    width: 345px;
    z-index: 10;
    position: relative;
	height: 35px;
	
	.iconContainer{
		span{
			display:block;
			width: 41px;
			height: 36px;
			margin: 0 auto 18px auto;
			cursor: pointer;
			float: left;
		}
		.fb{
			background-position: -40px 4px;
		}
		.twt {
			background-position: -40px -32px;
		}
		.in {
			background-position: -40px -143px;
		}
		.wa {
			background-position: -42px -625px;
		}
		.email{
			background-position: 10px -675px;
		}
		.copy{
			background-position: -1px -852px;
		}
	}
	

}

.socialSprite{
	background: url(https://img.etimg.com/photo/113329778.cms) no-repeat 0 0;
}