
.header{background-color:#ffe9e2;padding:10px 0}
.et_logo{padding-left:37%}
.ad_label{font-size:10px;text-align:center;background-color:#f1f5f8;margin:2px 0 3px;padding:3px 0}
.footer{font-size:12px;line-height:1.42;background-color:#000;color:#fff;padding:11px 0 14px;margin:0 0 5px;text-align:center;margin-top:5px;}
.header a{text-decoration:none;color:#fff}
.header a:hover{text-decoration:underline;color:#fff}
.pg_link,.pg_link:hover{font-size:16px;color:#000}
.load_tm{font-size:12px;color:#4a4a4a;text-align:right}
.tm_text{position:relative;padding-right:48px;float:right;width:318px;height:40px;color:#000;}
.tm_text:after{content:"";width:0;height:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-left:15px solid #7b7b7b;position:absolute;right:16px;top:2px}
.tm_text:before{content:"";width:0;height:0;border-top:12px solid transparent;border-bottom:12px solid transparent;border-left:12px solid #ffe9e2;position:absolute;right:20px;top:5px;z-index:1}
.ad_wrap{min-height:300px; margin: 0 auto; text-align:center;}
.table {border:0px;margin: 0 auto;min-width: 1260px;}
.txtcenter {text-align: center;}