.moreWrap {
  text-align: center;
}
.more {
  display: inline-flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 3px;
  // border: 1px solid #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-top: 10px;
}
.arr {
  font-size: 18px;
  margin-top: 1px;
}
