html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.h1Title {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  margin:0;
  margin-bottom: 10px;
}
.flt {
  float: left;
}
.clr {
  clear: both;
}
.clr:before, .clr:after, .clearfix:before, .clearfix:after {
  content: " ";
  display: table;
  clear: both;
}