$img_domain: "https://img.etimg.com";
$common_sprite: $img_domain + "/photo/msid-76070229,quality-100/common-sprite.jpg";

$primary-color: #21242a;
$secondary-color: #292c34;
$extra-color: #60dbfb;
$white: #ffffff;
$black: #000000;
$light-gray: #e5e5e5;
$medium-gray: #7a7a7a;
$dark-gray: #4a4a4a;
$success-color: #2ecc71;
$error-color: #e74c3c;
$caption-color: #808080;
$border-color: #c9c9c9;
$cancel-font-color: #ed1a3b;
$light-red: #ff454f;
$default-widget-background: #f7f7f7;
$default-profit-color: #009060;
$default-loss-color: #da2337;
$default-red-color: #ed193b;

$default-font-family: "Faustina", "sans";

$Faustina-font-family: "Faustina", "sans";
$Montserrat-font-family: "Montserrat", "Verdana";

$smaller-font-size: 12px;
$smaller-line-height: 1.3;

$small-font-size: 14px;
$small-line-height: 1.5;

$paragraph-font-size: 14px;
$paragraph-line-height: 1.5;

$newslist-font-size: 16px;
$newslist-line-height: 1.4;

$title-font-size: 24px;
$title-line-height: 1.4;

$default-font-size: 16px;
$default-line-height: 1.5;

$big-font-size: 48px;
$big-line-height: 1.3;

$bigger-font-size: 64px;
$bigger-line-height: 1.4;

$h1-font-size: 30px;
$h1-line-height: 1.3;

$h2-font-size: 25px;
$h2-line-height: 1.3;

$h3-font-size: 28px;
$h3-line-height: 1.4;

$h4-font-size: 24px;
$h4-line-height: 1.5;

$h5-font-size: 20px;

$img-loading-path: "https://img.etimg.com/photo/msid-70672355,quality-100.cms";
$common-sprite-path: "https://img.etimg.com/photo/msid-92575396,quality-100/common-sprite.jpg";
$home-listing-sprite: "https://img.etimg.com/photo/msid-87756482,quality-100.cms";
$contactus-sprite: "https://img.etimg.com/photo/94151859.cms";

/* Caution: Common sprite for components importing variables.scss only */
.commonSprite {
  background: url($common-sprite-path) no-repeat;
  display: inline-block;
  background-size: 500px;
}

.Msprite, .cSprite, .cSprite_a:after, .cSprite_b:before{background: url(https://img.etimg.com/photo/msid-97569360,quality-100/common-sprite.jpg) no-repeat;display: inline-block;background-size: 500px;}
