.readMoreSec {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}
.readMoreText {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  padding: 9px 10px 7px 0;
}
.readAnchor {
  a {
    color: #000;
    font-size: 11px;
    text-transform: capitalize;
    border-radius: 3px;
    line-height: 1;
    display: inline-block;
    border: 1px solid;
    background: #fff;
    padding: 9px 10px 7px 10px;
    margin: 0 10px 10px 0;
  }
}