/* Import common styles */
@import "../../styles/common.scss";

/* Styling for navigation block */
.nav_block {
  /* Background color */
  background: #ffe9e2;
  /* Width and centering */
  width: 100%;
  z-index: 99;
  // max-width: 1003px;

  /* Top navigation */
  .topnav {
    /* Styling for each section */
    & > .sec_1 {
      /* Positioning and cursor */
      position: relative;
      cursor: pointer;
      /* Display and vertical alignment */
      display: inline-block;
      vertical-align: top;
      padding-top: 2px;
      /* Width of sub-section navs for different data IDs */
      &[data-id="1715249553"] .subsecnav {
        width: 615px;
      }
      &[data-id="13352306"] .subsecnav {
        width: 818px;
      }
      &[data-id="837555174"] .subsecnav {
        width: 830px;
        left: -233px;
      }
      &[data-l1="Spotlight"] .subsecnav {
        width: 520px;
        left: -488px;
      }
      &[data-l1="More"] .subsecnav {
        width: 180px;
        margin-left: -204px;
        /* Styling for sub-sections of "More" section */
        .subsec1 {
          border-bottom: 1px solid #000;
        }
      }
      /* Styling for right-aligned sub-section navs */
      &[data-id="4413218"] .subsecnav,
      &[data-id="1466318837"] .subsecnav,
      &[data-id="7771250"] .subsecnav,
      &[data-id="897228639"] .subsecnav,
      &[data-id="107115"] .subsecnav,
      &[data-id="359241701"] .subsecnav,
      &[data-id="13357270"] .subsecnav,
      &[data-id="5575607"] .subsecnav {
        left: auto;
        right: 0;
      }
      /* Styling for each navigation link */
      a {
        /* Font size, padding, and line height */
        font-size: 13px;
        padding: 7px 3px 8px;
        line-height: 17px;
        /* Display and positioning */
        display: block;
        position: relative;
        /* Border styling */
        border: 1px solid transparent;
        border-bottom: 0;
        /* Styling for down arrow */

        &.current{
          background-color: #FFF;
          color: #ed193b;
          text-decoration: none;
          font-weight: 600;
          padding: 9px 4px 9px 4px;
        }
        .downArw {
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          display: inline-block;
          border-top: 4px solid #ed193b;
          margin: 0 0 0 5px;
          vertical-align: middle;
          padding: 0;
          width: 0;
          height: 0;
          margin-bottom: 3px;
        }
      }
      /* Styling for sub-section nav */
      .subsecnav {
        /* Positioning */
        position: absolute;
        top: 33px;
        left: 0;
        /* Background color, z-index, and font weight */
        background-color: #fff8f6;
        z-index: 913;
        font-weight: 400;
        /* Display and padding */
        display: none;
        padding: 10px 18px 18px 18px;
        /* Cursor */
        cursor: auto;
        /* Width and border styling */
        width: 410px;
        border: 1px solid #ead8;
        border-top: 0;
        box-shadow: 0 -1px 24px 0 rgb(0 0 0 / 17%);
        max-height: 600px;
        overflow: auto;
        box-sizing: unset;
        .flt{
          position: relative;
          width:185px;
          float: left;
        }
        .flt + .flt{
          margin-left: 20px;
        }
        .subsec1 {
          font-weight: 600;
          padding: 15px 0 6px 0;
          display: block;
          text-transform: capitalize;
          border-bottom: 0px solid #000;
          font-size: 14px;
        }
        .subsec2{
          line-height: 1.92;
          font-weight: 400;
          padding: 0 0 0 5px;
          display: block;
          font-size: 13px;
          &.cart:after {
            content: '';
            display: block;
            background: url(https://img.etimg.com/photo/57371574.cms) no-repeat;
            height: 20px;
            width: 20px;
            position: absolute;
            right: 0;
            top: 3px;
          }
        }
        .subsec3{
          line-height: 0.82;
          font-weight: 400;
          padding-left: 15px;
          display: inline-block;
          font-size: 13px;
          &:before{
            content: "";
            position: absolute;
            top: 7px;
            left: 4px;
            background: url($common-sprite-path) no-repeat;
            display: inline-block;
            background-size: 500px;
            width: 5px;
            height: 8px;
            background-position: -410px -59px;
          }
        }
        
        .techNav1st{
          float: left;
          margin-right: 10px;
          width: 140px;
          a:first-child{
            font-size: 16px;
            margin-bottom: 5px;
            padding: 15px 5px 6px;
            font-weight: 700;
          }
          .subsec1{
            border-bottom: 1px solid rgb(0, 0, 0);
          }
          & > *:hover, .active{
            background-color: #000;
            color:#fff;
            a{
              color:#fff;  
            }
          }
        }

        .mLast{
          float: left;
          padding-left: 10px;
          border-left: 1px solid #ccc;
          width: 225px;
          & > div{
            display: none;
          }
          .show_block{
            display: block;
          }
          .first{
            h3{
              font-size: 18px;
              margin-bottom: 10px;
              line-height: 1;
            }
            a{
              padding: 0;
            }
            .tech_im{
              float: left;
              margin: 0 10px 10px 0;
            }
            .wrapLines{
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              font-size: 12px;
              &.l5{
                -webkit-line-clamp: 5;
              }
            }
          }
          .other{
            .subsec3{
              line-height: 20px;
              padding:0 0 0 15px;
            }
            &.eventsBlockTech{
              border-top: 1px solid #f4d0c5;
              margin-left: -2px;
              clear: both;
              padding-top: 10px;
              .navBlock{
                width: 47%;
                display: inline-block;
                margin: 1.5%;
                vertical-align: top;
                a{
                  font-size:12px;
                  padding: 0;
                }
                img{
                  margin-bottom:4px
                }
              }
            }
          }
        }
        
        .brandSolution{
          width: 540px;
          .BSChild{
            width: 225px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 5px;
            float: none;
            display: inline-block;
            vertical-align: top;
            a{
              line-height: normal;
              color:#000;
              font-size: 14px;;
            }
            img {
              margin-right: 5px;  
              float:left;
            }
            h5{
              display: inline;
              vertical-align: top;
            }
          }
          .BSChild:nth-child(2n -1){
            margin-left: 69px;
          }
          .BSChild:nth-child(2n){
            margin-left: 0;
          }
        }

        
        .Edition_carouselone,  .Edition_carouseltwo{
          padding-bottom: 15px;
          position: relative;

          ul {
            white-space: nowrap;
            li{
              display: inline-block;
              vertical-align: top;
              white-space: normal;
              width: 520px;
            }
          }

          .embla__buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.6rem;
            align-items: center;
            position: absolute;
            top: 0;
            right:5px;
          }
        }

        .Edition_carouselone{
          .Edition_wrp{
            padding-top: 30px;
          }
        }

        .Edition_carouseltwo{
          height: 120px;  
          margin-top: 20px;
          h2{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
          }
        }
        .spotlightContent{
          width: 105px;
          display: inline-block;
          vertical-align: top;
          margin-right: 32px;
          min-height: 135px;
          &:nth-child(4n){
            margin-right: 0;  
          }
          a{
            font-weight: 400;
            color: #000;
            font-family: Faustina,sans-serif;
            cursor: pointer;
            line-height: 14px;
            font-size: 12px;
            padding: 0;
            &.txt{
              margin-top: 5px;
              text-align: center;
            }
          }
        }
        
      }
      &:hover{
        .subsecnav{
          display: block;
        }
      }
      &:hover > a{
        background-color: #fff8f6;
        border: 1px solid #ead8d2;
        color: #ed193b;
        text-decoration: none;
        border-bottom: 0;
        z-index: 914;
      }
    }
    .search_bar{
      float: right;
      background-color: #FFF3F0;
      text-align: center;
      height: 38px;
      width: 35px;
      cursor: pointer;
      .search_icon{
        background-position: -277px -52px;
        width: 14px;
        height: 14px;
        margin-top: 12px;
      }
    }
    .navP.cSprite_b:before{
      content:'';width:14px;height:19px;background-position: -299px -6px;vertical-align: top;position: relative;top: 1px;margin-right: 3px;
    }
  }

  &.pink_theme{
    background-color: #ffded4;
    border-top: 1px solid #debdb4;
    border-bottom: 2px solid #debdb4;
    width: 100%;
    .topnav{
      width: 1260px;
      margin: 0 auto;
      .sec_1{
        &[data-l1="More"] > a{
          padding: 12px 10px 6px;  
        }
        & > a{
          padding: 12px 10px 8px;
          &.current{
            background-color: #183651;
            color: #FFF;
            border-radius: 2px;
            font-size: 10px;
            padding: 1px 6px 2px 6px;
            font-weight: 700;
            margin: 10px 5px;
          }
        }
        &.hasSubSecnav:hover{
          & > a:not(.current){
            border: 1px solid transparent;
            background-color: transparent;
            &:after{
              content: '';
              position: absolute;
              left: 40%;
              border-bottom: 6px solid #debdb4;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              display: inline-block;
              bottom: -2px;
            }
          }
          &[data-l1="Politics"], &[data-l1="ETPrime"], &[data-l1="Home"]{
            a:before{
              border:0px solid; 
            }
          }
          .subsecnav{
            left: -120px;
            top: auto;
            -webkit-box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.12);
            background-color: #fff9f7;
            border-top: 2px solid #debdb4;
          }
          &[data-l1="More"] .subsecnav, &[data-l1="Spotlight"] .subsecnav{
            left: auto;
            right: 0;
          }
        }
      }
      .search_bar{
        background-color:transparent;
        padding-top: 5px;
        margin-right: 52px;
      }
    }
  }
}

.sticky {
  /* Define the default styles for the element */
  padding: 0px;
  /* Add any other styles you want for the non-sticky state */
}

.stickyActive {
  /* Define the styles for the element when it becomes sticky */
  position: fixed;
  top: 0;
  // width: 100%;
  width: 1003px;
  /* Add any other styles you want for the sticky state */
}

.sbnv_wrapper {
  border-color: #6d6d6d;
  display: flex;
  position: relative;
  border-width: 3px;
  border-style: double;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  .subsec_nav {
    background-color: #FFF;
    box-sizing: border-box;
    position: relative;
    & > div{
      position: relative;
      cursor: pointer;
      padding-top: 2px;
      display: inline-block;
      vertical-align: top;
      &:hover .miniMenu{
        display: block;
      }
      a{
        position: relative;
        border: 1px solid transparent;
        border-bottom: 0;
        line-height: 17px;
        display: inline-block;
        font-size: 12px;
        padding: 6px 5px 9px 5px;
        vertical-align: top;
        &.current{
          color: #ed193b;
          text-decoration: none;
        }
        &.subsec2{
          padding: 0;
          white-space: normal;
          line-height: 1.92;
          font-weight: 400;
          display: block;
          font-size: 13px;
        }
        &.subsec3{
          padding-left: 15px;
          display: inline-block;
          &:before{
            content: "";
            position: absolute;
            top: 10px;
            left: 4px;
            background: url($common-sprite-path) no-repeat;
            display: inline-block;
            background-size: 500px;
            width: 5px;
            height: 8px;
            background-position: -410px -59px;
          }
        }

        .downArw {
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          display: inline-block;
          border-top: 4px solid #ed193b;
          margin: 0 0 0 5px;
          vertical-align: middle;
          padding: 0;
          width: 0;
          height: 0;
          margin-bottom: 3px;
        }

        &:hover{
          color: #ed193b;
          text-decoration: none;
        }
      }
    }
    .subLevel{
      & > div {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding-top: 2px;
        vertical-align: top;
      }  
      .miniMenu {
        position: absolute;
        top: 35px;
        left: 0;
        background-color: #fff8f6;
        z-index: 913;
        font-weight: 400;
        border: 1px solid #ead8d2;
        display: none;
        padding: 10px 18px 18px 18px;
        cursor: auto;
        width: 185px;
        border-top: 0;
        box-shadow: 0 -1px 24px 0 rgb(0 0 0 / 17%);
        max-height: 600px;
        overflow: auto;
        &.comnav{
          right: -380px;
          width: 820px;
          left: auto;
          .com_box {
            width: 185px;
            &:first-child{
              width:200px;
            }
            .cn_list1{
              .commodity_news{
                overflow: hidden;
                font-size: 13px;
                white-space: normal;
                a{
                  padding: 5px;
                  display: inline-block;
                  font-size: 12px;
                  &:first-child{
                    float: left;
                    padding: 3px;
                  }
                  &:last-child{
                    width: 120px;
                  }
                }
              }
            }
            .cn_list2{
              .commodity_news{
                overflow: hidden;
                font-size: 13px;
                white-space: normal;
              }
            }
            & + .com_box{
              margin-left: 20px;
            }
          }
        }
        .subsec1{
          font-weight: 600;
          padding: 15px 0 6px 0;
          display: block;
          text-transform: capitalize;
          border-bottom: 1px solid #000;
          font-size: 13px;
        }
        .subsec2{
          padding-left: 0;
          white-space: normal;  
        }
      } 
      &:hover > a{
        background-color: #fff8f6;
        border: 1px solid #ead8d2;
        color: #ed193b;
        text-decoration: none;
        border-bottom: 0;
        z-index: 914;
      }
    }
  }

  &.pink_theme{
    background-color: #ffe9e2;
    border-bottom: 1px solid #debdb4;
    .subsec_nav{
      width: 1260px;
      margin: 0 auto;
      background-color: #ffe9e2;
      & > div {
        & > a{
          padding: 7px 12px 8px 12px;
        }
        &.subLevel{
          .miniMenu{
            -webkit-box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.12);
            background-color: #fff9f7;
            border-top: 2px solid #debdb4;
            &:not(.comnav){
              left: -60px;
            }
          }
          &:hover{
            & > a {
                border: 1px solid transparent;
                background-color: transparent;
                padding: 7px 12px;
                &:before{
                  content: '';
                  position: absolute;
                  left: 40%;
                  border-bottom: 6px solid #debdb4;
                  border-left: 8px solid transparent;
                  border-right: 8px solid transparent;
                  display: inline-block;
                  bottom: -1px;
                }
            }
          }
        }
      }
    }
  }
}