.tabwidget{
    width: 640px;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    margin-bottom: 30px;
    
    .cbanner{
        background-image: url(https://img.etimg.com/photo/114493455.cms);
        width: 640px;
        height: 65px;
        border-radius: 8px 8px 0 0;

        h2{font-family: Faustina;
            font-size: 28.11px;
            font-weight: 700;
            line-height: 35.42px;
            letter-spacing: 0.04em;
            text-align: left;
            padding: 10px 10px;

            &::after{
            content: '';
            display: inline-block;
            width: 11px;
            height: 11px;
            top: -3px;
            left: 5px;
            border-top: 3px solid #ED193B;
            border-left: 3px solid #ED193B;
            position: relative;
            cursor: pointer;
            transform: rotate(135deg);
            }

        }
            
    }
    .cbanner.twoBanner{
        background-image: url(https://img.etimg.com/photo/114369356.cms);
       
    }
    .content{
        background: linear-gradient(90deg, #FFFFFF 0%, #E7F8FF 100%);
        padding: 20px;
        border-radius: 0 0 8px 8px;
        ul{
            width: 100%;
            display: flex;
            li{
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                text-align: left;
                padding: 0 25px;
                display: table;
                padding: 8px 17px;
                display: table;
                border: 1px solid #868686;
                border-radius: 25px;
                margin-left: 14px;
                cursor: pointer;
                a{cursor: default;
                text-decoration: none;}
                
            }
            li.active{
                color: #000;
                font-weight: 700;
            }
        }
        .mainContent{
            height: 230px;
            position: relative;
            .loadContent{
                border-top: 1px solid #D3D3D3;
                margin-top: 10px;
                display: flex;
                .content{
                    display: inline-table;
                    width: 408px;
                    
                    a{font-family: Faustina;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 25.2px;
                        text-align: left;
                        }
                    p{font-family: Faustina;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20.2px;
                        text-align: left;
                        }
                }
                img{    margin: 30px 10px 10px 10px;
                    width: 168px;
                    height: 160px;
                    }
            }
            .moreLink{float:right;
                .dbl_arw {
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    border-top: 2px solid;
                    border-left: 2px solid;
                    position: relative;
                    transform: rotate(135deg);
                    top: 7px;
                    right: 2px;
                    margin: 3px;
                }
                .dbl_arw::before {
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    border-top: 2px solid;
                    border-left: 2px solid;
                    position: relative;
                    content: '';
                    right: 5px;
                    top: -12px;
                }
            }
        }
    }

}