.srch_container {
  position: relative;

  .srch_overlay_div {
    background: rgba(0, 0, 0, .85);
    position: absolute;
    height: 105px;
    width: 1003px;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 2s ease;

    .srch_overlay_content {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      text-align: center;
      max-width: 1003px;
      margin: 0 auto;

      .inputBox {
        background: #fff;
        width: 470px;
        height: 40px;
        font-size: 16px;
        padding: 0 14px;
        margin-right: 16px;
        line-height: 40px;
        border-radius: 0;
      }

      .srch_btn {
        width: 124px;
        background: #ed193b;
        display: inline-block;
        height: 40px;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 40px;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
      }

      .srch_close {
        display: inline-block;
        color: #fff;
        font-size: 40px;
        float: right;
        margin-right: 44px;
        line-height: 40px;
        transform: rotate(45deg);
        cursor: pointer;
      }

      .searchListAll {
        min-width: 498px;
        top: 46px;
        left: 146px;
        position: absolute;
        z-index: 10;
        text-align: left;
        max-width: 497px;
        max-height: 500px;
        border-radius: 10px;
        background: #fff;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
        border: 1px solid rgba(0, 0, 0, .1);
        padding: 10px 2px 10px 0;

        .head {
          padding: 12px 16px 2px;
          margin-bottom: 5px;
          font-weight: 700;
          color: #b0162f;
          font-size: 12px;
        }

        li:not(.head) {
          border-bottom: 1px solid #e4e4e4;
        }

        li:not(.head):hover {
          background-color: #efefef50;
        }
      }

      .searchListAll::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        top: -6px;
        left: 15px;
      }
    }
  }

  .btm_srch_div {
    background-color: #191919;
    padding: 14px 10px;

    .btm_srch_content {
      text-align: center;

      .btm_inputBox {
        width: 640px;
        background-color: #373737;
        padding: 10px 0 10px 15px;
        color: #9a9a9a;
        font-size: 14px;
        display: inline-block;
        font-family: Montserrat, Verdana;
      }

      .searchContainer {
        position: relative;
        display: inline-block;
        margin-left: 30px;

        .searchListAll {
          position: absolute;
          z-index: 10;
          text-align: left;
          border-radius: 10px;
          padding: 10px 2px 10px 0;
          min-width: 653px;
          top: 42px;
          left: 0px;
          background-color: #373737;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: solid 1px #494949;
          color: #b9b9b9;

          .head {
            border-bottom: solid 1px #494949;
            font-weight: 700;
            padding: 15px;
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 0;
            color: #b9b9b9;
          }

          li:not(.head) {
            border-bottom: 1px dotted #e4e4e4;
          }

          li:not(.head):hover {
            background-color: #282828;
          }
        }
      }

      .searchLoading::before {
        content: '';
        display: block;
        background: url(https://img.etimg.com/photo/6288727.cms) no-repeat;
        height: 25px;
        width: 25px;
        position: absolute;
        right: 45px;
        top: 5px;
      }

      .searchIcon {
        cursor: pointer;
        background-color: #ed193b;
        width: 37px;
        height: 37px;
        line-height: 39px;
        text-align: center;
        display: inline-block;
        position: relative;
      }

      .searchIcon::after {
        content: '';
        background-position: -351px -265px;
        width: 20px;
        height: 22px;
        background-size: 750px;
        position: relative;
        top: 5px;
      }

      .logo {
        margin-top: 3px;
      }
    }

  }

  .more {
    float: right;
  }

  .more:hover {
    text-decoration: underline;
  }

  ul {
    overflow: auto;
    max-height: 500px;
    padding-right: 4px;
  }

  li:not(.head) a {
    font-size: 13px;
    padding: 5px 16px;
    display: inline-block;
    width: 460px;
    line-height: 20px;
    text-decoration: none;
  }

  &.pink_theme{
    width: 1260px;
    margin: 0 auto;
    // width: 100%;
    .srch_overlay_div{
      width: 100%;
    }
    .btm_srch_div{
      background-color: transparent;
      .btm_srch_content{
        .footlogo_wrp{
          text-align: left;
        }
        .searchContainer{
          width: 435px;
          margin-left: 0;
          display: flex;
          align-items: center;
          margin-top: 7px;

          .searchListAll{
            -webkit-box-shadow: 0 -1px 24px 0 #000;
            box-shadow: 0 -1px 24px 0 #000;
            border: solid 1px #ead8d2;
            background-color: #fff8f6;
            color: #000;

            li:hover {
              background-color: #FFF;
            }
          }
        }
        .btm_inputBox{
          background: #FFF;
          width: 360px;
          border: 1px solid #b3adad;
          border-radius: 4px;
        }
        .searchIcon{
          height: 39px;
        }
      }
    }
  }
}