@import "../../styles/variables.scss";

.browseCompany {
  border-bottom: 1px solid #3a3a3a;
  padding: 17px 0;

  .browse {
    margin: 0 auto;
    width: 94%;

    .browseTitle {
      display: inline-block;
      vertical-align: middle;

      span {
        font-weight: 600;
        text-transform: uppercase;
      }

      &:first-child {
        font-size: 18px;
      }

      .comp {
        display: block;
        font-size: 13px;
      }
    }

    .compList {
      display: inline-block;
      border-left: 2px solid #373737;
      padding-left: 14px;
      margin-left: 8px;
      vertical-align: middle;

      a {
        color: #9a9a9a;
        font-size: 14px;
        background-color: #191919;
        border: 1px solid #333;
        border-radius: 50%;
        display: inline-block;
        margin-right: 4px;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 24px;
      }

      a:hover {
        text-decoration: none;
        background: #333;
      }

      div {
        &:last-child {
          margin-top: 10px;
        }
      }
    }
  }
}

.dynamicContainer {
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
  background-color: $black;
  color: white;
  margin-top: 5px;

  .dynamicCategories {
    padding: 15px;

    .category {
      height: 47px;
      overflow: hidden;
      padding: 0 1%;
      position: relative;
      margin-bottom: 20px;

      p {
        font-size: 20px;
        font-weight: 800;
        text-transform: capitalize;
        // color: #FFF;
        margin-bottom: 6px;
        font-family: $Montserrat-font-family;
      }

      div.content {
        a {
          font-size: 13px;
          line-height: 25px;
          // color: #FFF;
          display: inline-block;
          box-sizing: border-box;
          vertical-align: top;
          position: relative;
          line-height: 15px;
          margin-bottom: 10px;
          border-right: solid 1px #ddd;
          margin-right: 10px;
          padding-right: 10px;
        }

        a.ellipsis {
          max-width: 230px;
          box-sizing: border-box;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .show_hide_interlinking {
        // color: #fff;
        float: right;
        margin-right: 123px;
        cursor: pointer;
        font-weight: 700;
        font-size: 13px;
        text-decoration: underline;
      }

      .show_hide_interlinking::after {
        content: '';
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        margin-left: 10px;
        padding: 3px;
        margin-bottom: 1px;
        transform: rotate(45deg);
        transition: .7s ease;
      }

      // .moreStyle {
      //   margin-top: 10px;
      // }

      &.visible {
        .moreStyle {
          &::after {
            margin-bottom: -3px;
            transform: rotate(222deg);
          }
        }
      }
    }

    .visible {
      height: auto;
    }
  }
  

  .downloadSection {
    color: $white;
    padding-bottom: 80px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
    text-align: center;
    margin-bottom: 12px;
    box-sizing: border-box;
    color: #FFF;
    min-height: 90px;

    .row {
      display: inline-block;

      &:nth-child(2) {
        margin-left: 30px;
      }

      font-family: $Montserrat-font-family;

      p {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 0px;
        text-align: left;
      }

      .appstoredownload {
        background-position: -8px -49px;
        width: 78px;
        height: 22px;
        margin-top: 10px;
        margin-bottom: 12px;
      }

      .gpdownload {
        background-position: -102px -50px;
        width: 85px;
        height: 22px;
        margin-left: 10px;
        margin-bottom: 12px;
      }

      .subscribe {
        background-position: -4px -75px;
        width: 52px;
        height: 47px;
      }

      h3 {
        color: #FFF;
        text-transform: uppercase;
        width: 105px;
        display: inline-block;
        margin-top: 4px;
        font-size: 12px;
        text-align: left;
      }

      .shareIcons {
        a {
          display: inline-block;
          width: 36px;
          height: 37px;
          margin-top: 5px;

          &:not(:first-child) {
            margin-left: 10px;
          }
        }

        .fbShare {
          background-position: -4px -4px;
        }

        .twShare {
          background-position: -48px -4px;
        }

        .inShare {
          background-position: -92px -4px;
        }

        .rss {
          background-position: -137px -4px;
        }
      }

      .primeLogo {
        width: 160px;
        height: 50px;
        background-position: -232px -75px;
      }

      h4 {
        color: #FFF;
        text-transform: uppercase;
        width: 105px;
        display: inline-block;
        margin-top: 4px;
        text-align: left;
      }

      .policyTerm {
        font-size: 0.875em;
        color: #cccccc;
      }

      .withPadding {
        padding: 10px 10px 0;
      }
    }

    .contentLeft {
      float: left;
      margin-top: 15px;
    }

    .contentRight {
      float: right;
      margin-left: 30px;
      margin-top: 15px;
    }
  }

  .copyright {
    text-align: center;
    height: 50px;
    font-size: 14px;
    text-align: center;

    a:hover{
      text-decoration: underline;
    }
  }

  
}

.pink_theme {
  background-color: #ffded4;

  padding-top: 30px;
  border-top: 4px solid #ecc3b7;
  background-color: #ffded4;

  .sbr_wrap {
    display: flex;
    align-items: flex-start;
  }

  .browseCompany {
    border-bottom: 0px solid;
    // width: 50%;
    border-left: 1px solid #ebc3b7;
    border-bottom: 1px solid #ecc3b7;
    position: relative;
    padding: 0 0 10px;

    .browse {
      position: absolute;
      width: 920px;
      right: 0;
      // top: -114px;
      height: 111px;
      border-left: 1px solid #ebc3b7;
      padding-left: 10px;
      .browseTitle {
        color: #99756b;
        margin-bottom: 5px;

        span {
          font-weight: 400;
        }

        .comp {
          display: inline-block;
          font-size: 18px;
          margin-left: 5px;
        }
      }

      .compList {
        border-left: 0px solid;
        padding-left: 0;
        margin-left: 0;

        a {
          color: #644c45;
          background-color: #FFF;
          border: 0px;
          margin: 3px;
          width: 29px;
          height: 29px;
          font-size: 15px;
          line-height: 29px;
        }
      }
    }
  }

  .dynamicContainer {
    width: 1260px;
    margin: 0 auto;
    background-color: transparent;
    color: #000;

    .divider {
      background-color: #ffded4;
    }

    

    .category {
      .show_hide_interlinking:after {
        border: solid #000;
        border-width: 0 2px 2px 0;
      }

      .latestNewsContent.content{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
  
        a.ellipsis{
         max-width: 168px;
          font-size: 13px;
          line-height: 18px;
          margin-right: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          height: 36px;
          text-decoration: none;
          white-space: normal;
          border-right: 0px solid;
        }
      }
    }

    

    .downloadSection {
      .row {
        .shareIcons {
          .fbShare {
            background-position: -354px -254px;
            width: 40px;
            height: 40px;
          }

          .inShare {
            background-position: -404px -254px;
            width: 40px;
            height: 40px;
          }

          .twShare {
            background-position: -354px -304px;
            width: 40px;
            height: 40px;
          }

          .rss {
            background-position: -404px -304px;
            width: 40px;
            height: 40px;
          }
        }

        .appstoredownload {
          background-position: -234px -221px;
          width: 98px;
          height: 27px;
        }

        .gpdownload {
          background-position: -348px -219px;
          width: 88px;
          height: 27px;
        }

        .primeLogo {
          background-position: -338px -160px;
        }

        p {
          color: #000;
        }

        h4 {
          color: #000;
        }
      }
    }
  }
}