.wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    text-align: left;
    .layerSec{
        width: 500px;
        margin: 50px auto 0;
        background: #FFF;
        border: 10px solid #CCC;
        border-radius: 4px;
        box-shadow: 3px 3px 10px #444;
        padding: 20px;
        position: relative;
        .layerContent{
            position: relative;
            .layerClose{
                position: absolute;
                right: 0;
                top: -20px;
                display: inline-block;
                vertical-align: top;
                background: #fff;
                width: 20px;
                height: 20px;
                border: 2px solid #ddd;
                border-radius: 50%;
                cursor: pointer;
                &:after{
                    content: "x";
                    position: absolute;
                    right: 4px;
                    top: -1px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #d30202;
                }
            }
            h3{
                font-size: 18px;
            }
            .formBody{
                margin-top: 25px;
                .formGroup{
                    margin-bottom: 10px;
                    label{
                        display: block;
                        input{
                            border: 1px solid #F2F2F2;
                            color: #7D7D7D;
                            font-size: 16px;
                            height: 30px;
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                    .smallText{
                        color: #7D7D7D;
                        font-size: 11px;
                        margin-left: 10px;
                    }
                    .btnSubmit{
                        border: 0;
                        color: #FFF;
                        font-family: arial;
                        font-size: 12px;
                        font-weight: 700;
                        cursor: pointer;
                        background: rgba(0,0,0,0.6);
                        border-radius: 2px;
                        padding: 5px 15px;
                    }
                }
                .formGroupInlineForm{
                    margin-bottom: 10px;
                    label{
                        display: inline-block;
                        vertical-align: top;
                        width: 48%;
                        font-size: 12px;  
                        input{
                            border: 1px solid #F2F2F2;
                            color: #7D7D7D;
                            font-size: 16px;
                            height: 30px;
                            width: 100%;
                            box-sizing: border-box;
                        } 
                    }
                    label + label{
                        margin-left: 4%;
                    } 
                }
                .thanks{
                    h3{margin:0;}
                    h6{margin: 10px 0;font-size:12px}
                    .mostLink{
                        font-size: 12px;
                        a{
                            text-decoration: none;
                            color: #336797;
                        }
                    }
                }
            }
            
        }
        .loading{
            position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0.7);z-index:9;padding-top:30px;
            .loader{position:relative;width:75px;height:100px;display:block;margin:auto}
            
            p{margin:6px 0 0;padding:0;text-align:center;color:#fff;font-size:13px;font-weight:700}
        }
    }
    .captchaSec{
        text-align: center;
        .capthcaResize{
            display: inline-block;
            vertical-align: top;
            margin: 10px 0;
        }
    }
}

