.wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    text-align: left;
    .layerSec{
        width: 500px;
        margin: 50px auto 0;
        background: #FFF;
        border: 10px solid #CCC;
        border-radius: 4px;
        box-shadow: 3px 3px 10px #444;
        padding: 20px;
        position: relative;
        .layerContent{
            position: relative;
            .layerClose{
                position: absolute;
                right: 0;
                top: -20px;
                display: inline-block;
                vertical-align: top;
                background: #fff;
                width: 20px;
                height: 20px;
                border: 2px solid #ddd;
                border-radius: 50%;
                cursor: pointer;
                &:after{
                    content: "x";
                    position: absolute;
                    right: 4px;
                    top: -1px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #d30202;
                }
            }
            h3{
                font-size: 18px;
            }
            .formBody{
                margin-top: 25px;
                .formGroup{
                    margin-bottom: 10px;
                    label{
                        display: block;
                        input{
                            border: 1px solid #F2F2F2;
                            color: #7D7D7D;
                            font-size: 16px;
                            height: 30px;
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                    .smallText{
                        color: #7D7D7D;
                        font-size: 11px;
                        margin-left: 10px;
                    }
                    .btnSubmit{
                        border: 0;
                        color: #FFF;
                        font-family: arial;
                        font-size: 12px;
                        font-weight: 700;
                        cursor: pointer;
                        background: rgba(0,0,0,0.6);
                        border-radius: 2px;
                        padding: 5px 15px;
                    }
                }
                .formGroupInlineForm{
                    margin-bottom: 10px;
                    label{
                        display: inline-block;
                        vertical-align: top;
                        width: 48%;
                        font-size: 12px;  
                        input{
                            border: 1px solid #F2F2F2;
                            color: #7D7D7D;
                            font-size: 16px;
                            height: 30px;
                            width: 100%;
                            box-sizing: border-box;
                        } 
                    }
                    label + label{
                        margin-left: 4%;
                    } 
                }
                .thanks{
                    h3{margin:0;}
                    h6{margin: 10px 0;font-size:12px}
                    .mostLink{
                        font-size: 12px;
                        a{
                            text-decoration: none;
                            color: #336797;
                        }
                    }
                }
            }
            
        }
        .loading{
            position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0.7);z-index:9;padding-top:30px;
            .loader{position:relative;width:75px;height:100px;display:block;margin:auto}
            .loader__bar{position:absolute;bottom:0;width:10px;height:50%;background:#3e91b5;-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-box-shadow:1px 1px 0 rgba(0,0,0,0.2);box-shadow:1px 1px 0 rgba(0,0,0,0.2)}
            .loader__bar:nth-child(1){left:0;-webkit-transform:scale(1,0.2);transform:scale(1,0.2);-webkit-animation:barUp1 4s infinite;animation:barUp1 4s infinite}
            .loader__bar:nth-child(2){left:15px;-webkit-transform:scale(1,0.4);transform:scale(1,0.4);-webkit-animation:barUp2 4s infinite;animation:barUp2 4s infinite}
            .loader__bar:nth-child(3){left:30px;-webkit-transform:scale(1,0.6);transform:scale(1,0.6);-webkit-animation:barUp3 4s infinite;animation:barUp3 4s infinite}
            .loader__bar:nth-child(4){left:45px;-webkit-transform:scale(1,0.8);transform:scale(1,0.8);-webkit-animation:barUp4 4s infinite;animation:barUp4 4s infinite}
            .loader__bar:nth-child(5){left:60px;-webkit-transform:scale(1,1);transform:scale(1,1);-webkit-animation:barUp5 4s infinite;animation:barUp5 4s infinite}
            .loader__ball{position:absolute;bottom:10px;left:0;width:10px;height:10px;background:#4ebdd5;border-radius:50%;-webkit-animation:ball 4s infinite;animation:ball 4s infinite}
            p{margin:6px 0 0;padding:0;text-align:center;color:#fff;font-size:13px;font-weight:700}
        }
    }
    .captchaSec{
        text-align: center;
        .capthcaResize{
            display: inline-block;
            vertical-align: top;
            margin: 10px 0;
        }
    }
}



@-webkit-keyframes ball {
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    5%{-webkit-transform:translate(8px,-14px);transform:translate(8px,-14px)}
    10%{-webkit-transform:translate(15px,-10px);transform:translate(15px,-10px)}
    17%{-webkit-transform:translate(23px,-24px);transform:translate(23px,-24px)}
    20%{-webkit-transform:translate(30px,-20px);transform:translate(30px,-20px)}
    27%{-webkit-transform:translate(38px,-34px);transform:translate(38px,-34px)}
    30%{-webkit-transform:translate(45px,-30px);transform:translate(45px,-30px)}
    37%{-webkit-transform:translate(53px,-44px);transform:translate(53px,-44px)}
    40%{-webkit-transform:translate(60px,-40px);transform:translate(60px,-40px)}
    50%{-webkit-transform:translate(60px,0);transform:translate(60px,0)}
    57%{-webkit-transform:translate(53px,-14px);transform:translate(53px,-14px)}
    60%{-webkit-transform:translate(45px,-10px);transform:translate(45px,-10px)}
    67%{-webkit-transform:translate(37px,-24px);transform:translate(37px,-24px)}
    70%{-webkit-transform:translate(30px,-20px);transform:translate(30px,-20px)}
    77%{-webkit-transform:translate(22px,-34px);transform:translate(22px,-34px)}
    80%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}
    87%{-webkit-transform:translate(7px,-44px);transform:translate(7px,-44px)}
    90%{-webkit-transform:translate(0,-40px);transform:translate(0,-40px)}
    100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    }
    @keyframes ball {
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    5%{-webkit-transform:translate(8px,-14px);transform:translate(8px,-14px)}
    10%{-webkit-transform:translate(15px,-10px);transform:translate(15px,-10px)}
    17%{-webkit-transform:translate(23px,-24px);transform:translate(23px,-24px)}
    20%{-webkit-transform:translate(30px,-20px);transform:translate(30px,-20px)}
    27%{-webkit-transform:translate(38px,-34px);transform:translate(38px,-34px)}
    30%{-webkit-transform:translate(45px,-30px);transform:translate(45px,-30px)}
    37%{-webkit-transform:translate(53px,-44px);transform:translate(53px,-44px)}
    40%{-webkit-transform:translate(60px,-40px);transform:translate(60px,-40px)}
    50%{-webkit-transform:translate(60px,0);transform:translate(60px,0)}
    57%{-webkit-transform:translate(53px,-14px);transform:translate(53px,-14px)}
    60%{-webkit-transform:translate(45px,-10px);transform:translate(45px,-10px)}
    67%{-webkit-transform:translate(37px,-24px);transform:translate(37px,-24px)}
    70%{-webkit-transform:translate(30px,-20px);transform:translate(30px,-20px)}
    77%{-webkit-transform:translate(22px,-34px);transform:translate(22px,-34px)}
    80%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}
    87%{-webkit-transform:translate(7px,-44px);transform:translate(7px,-44px)}
    90%{-webkit-transform:translate(0,-40px);transform:translate(0,-40px)}
    100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    }
    @-webkit-keyframes barUp1 {
    0%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    40%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    50%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    90%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    100%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    }
    @keyframes barUp1 {
    0%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    40%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    50%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    90%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    100%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    }
    @-webkit-keyframes barUp2 {
    0%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    40%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    50%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    90%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    100%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    }
    @keyframes barUp2 {
    0%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    40%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    50%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    90%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    100%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    }
    @-webkit-keyframes barUp3 {
    0%{-webkit-transform:scale(1,0.6);transform:scale(1,0.6)}
    100%{-webkit-transform:scale(1,0.6);transform:scale(1,0.6)}
    }
    @keyframes barUp3 {
    0%{-webkit-transform:scale(1,0.6);transform:scale(1,0.6)}
    100%{-webkit-transform:scale(1,0.6);transform:scale(1,0.6)}
    }
    @-webkit-keyframes barUp4 {
    0%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    40%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    50%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    90%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    100%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    }
    @keyframes barUp4 {
    0%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    40%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    50%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    90%{-webkit-transform:scale(1,0.4);transform:scale(1,0.4)}
    100%{-webkit-transform:scale(1,0.8);transform:scale(1,0.8)}
    }
    @-webkit-keyframes barUp5 {
    0%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    40%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    50%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    90%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    100%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    }
    @keyframes barUp5 {
    0%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    40%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    50%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    90%{-webkit-transform:scale(1,0.2);transform:scale(1,0.2)}
    100%{-webkit-transform:scale(1,1);transform:scale(1,1)}
    }