/* Import common styles */
@import "../../styles/common.scss";

.subSign{
  padding-right: 7px;
  -webkit-transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
  transition: ease all 0.5s;
  position: absolute;
  right: 0;
  text-align: right;
  top:14px;

  .subscribe:not(.cSprite_b){
    padding: 2px 7px 3px 8px;
    border-radius: 2px;
    border: solid 1px black;
    margin-right: 15px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .soWrapper {
    margin: 14px 0;
    position: relative;
    .hdr_spcl_ofr {
      border: 1px solid rgba(237, 25, 59, 0.1);
      padding: 4px 0;
      border-right: none;
      border-left: none;
      text-align: center;
      font-weight: bold;
      color: #ed193b;
      font-size: 10.5px;
      cursor: pointer;
    }
  }
}

.loginBoxWrap{
  &:hover{
    .dd:after {
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
      top: 0;
      bottom: unset;
    }
    .signMenu{
      display: block;
    }
  }
  .dd{
    min-height: 15px;
    display: inline-block;
    &:after {
      content: '';
      border: solid #979797;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 2px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      bottom: 2px;
      margin-left: 4px;
    }
  }
  .signMenu{
    display: none;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    top: 15px;
    width: 225px;
    right: 0;
    text-align: left;
    & > a:hover{
      background: #f4f4f4;
    }
    .outerContainer{
      padding: 14px 12px 12px;
      border-radius: 6px;
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.28);
      background-color: #fafafa;
      .bgWhite{
        background: #fff;
      }
      .emailLbl{
        color: #5c5c5c;
        text-align: center;
        margin-bottom: 14px;
        font-size: 10px;
      }
    }
    a{
      display: block;
      line-height: 30px;
      padding: 0 7px;
      .new_badge{
        vertical-align: middle;
      }
      .incomplete_badge{
        width: 84px;
        height: 16px;
        justify-content: center;
        align-items: center;
        padding: 3px 8px;
        border-radius: 2px;
        background-color: #e99a00;
        color: #fff;
        font-size: 8px;
        box-sizing: border-box;
        font-weight: 700;
        margin-left: 8px;
        display: inline-flex;
        span{
          background: #fff;
          height: 10px;
          width: 10px;
          color: #e99a00;
          font-size: 10px;
          border-radius: 10px;
          margin-left: 8px;
          align-content: center;
          justify-content: center;
          padding: 0 5px;
          box-sizing: border-box;
          line-height: 10px;
          font-weight: 600;
          display: inline-flex;
          vertical-align: middle;
        }
      }
      &:before{
        content: '';
        margin-right: 7px;
        position: relative;
      }
      &.edit:before{
        background-position: -231px -6px;
        width: 11px;
        height: 13px;
      }
      &.subscribe:before{
        background-position: -211px -6px;
        width: 15px;
        height: 13px;
        background-color: #ffffff;
      }
      &.mypref:before{
        background-position: -231px -26px;
        width: 12px;
        height: 11px;
      }
      &.refer:before{
        background-position: -283px -25px;
        width: 15px;
        height: 13px;
        zoom: 1;
        margin-right: 5px;
      }
      &.etBenefits:before{
        background-position: -268px -26px;
        width: 15px;
        height: 11px;
        zoom: 1.3;
        margin-right: 2px;
      }
      &.newsltr:before{
        background-position: -211px -26px;
        width: 15px;
        height: 11px;
      }
      &.wthlist:before{
        background-position: -248px -28px;
        width: 16px;
        height: 10px;
        margin-right: 5px;
      }
      &.savedStories:before{
        background-position: -267px -7px;
        width: 9px;
        height: 14px;
        margin-left: 3px;
      }
      &.rdm_tab:before{
        background-position: -234px -161px;
        width: 14px;
        height: 10px;
        margin-left: 0;
      }
      &.contactus:before{
        background: url($contactus-sprite);
        background-size: 100%;
        width: 14px;
        height: 15px;
      }
      &.logOut:before{
        background-position: -281px -7px;
        width: 13px;
        height: 13px;
        margin-left: 3px;
      }
      & + a{
        border-top: 1px solid #E8E8E8;
      }
    }
  }
}

.pink_theme{
  &.subSign{
    &:before{
      background: url($subscriber-sprite) no-repeat;
      display: inline-block;
      background-size: 475px;
      content: "";
      height: 5px;
      width: 10px;
      background-position: -47px -10px;
      position: relative;
      top: 20px;
      left: 48px;
      z-index: 2;
    }
  }
  .loginBoxWrap{
    border-top: 34px solid #183651;
    top: -7px;
    width: 86px;
    position: relative;
    &:before{
      background: url(https://img.etimg.com/photo/msid-98203283,quality-100/subscriber-sprite.jpg) no-repeat;
      display: inline-block;
      background-size: 475px;
      content: '';
      display: block;
      position: absolute;
      height: 35px;
      width: 40px;
      top: -36px;
      left: 28px;
    }
    &:after{
      content: '';
      width: 0;
      border-left: 43px solid transparent;
      border-right: 43px solid transparent;
      border-top: 15px solid #183651;
      display: block;
      height: 0;
      position: relative;
      top: 15px;
    }
    .dd{
      min-height: 15px;
      display: inline-block;
      position: relative;
      top: 15px;
      width: 86px;
      text-align: center;
      color: #FFF;
      background-color: #183651;
      text-transform: uppercase;
      font-size: 9px;
      padding-top: 4px;
      &:before{
        content: 'Prime Member';
        background: #FFF;
        padding: 2px 0;
        position: absolute;
        left: 0;
        width: 86px;
        letter-spacing: .41px;
        color: #ed193b;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 700;
        text-align: center;
        top: -15px;
      }
      &:after{
        display: none;
      }
    }
    .signMenu{
      top: auto;
      // bottom: -270px;
      border-radius: 6px;
      .outerContainer{
        background: #FFF9F7;  
      }
      background: #FFF9F7;
      & > a:hover{
        background: #FFE9E2;
      }
    }
  }
}