@import "../../styles/common.scss";

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.videoshow{
    font: 12px 'Montserrat',sans-serif;
    background: #fff;
    margin: 0 auto;
    width: 1003px;
    .pageContent{
        width: 660px;
        padding-left: 10px;
        float: left;
        margin-top: 10px;
        border-right: 1px solid #ebebeb;
        padding-right: 10px;
        .bylineFull {
            margin-bottom: 17px;
            .byline {
                margin-top: 5px;
            }
            .cmtLinks {
                float: right;
                padding: 4px 7px;
                background: 0;
                border: 1px solid #000;
                border-radius: 4px;
                &:before {
                    content: '';
                    background: url(https://img.etimg.com/photo/57749072.cms) no-repeat;
                    width: 17px;
                    height: 13px;
                    display: inline-block;
                    vertical-align: middle;
                }
                a {
                    padding: 0 3px;
                    color: #000;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .videoBookmark {
                float: right;
                padding: 2px;
                border: 1px solid;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                margin-right: 20px;
                .bookmarkIcon {
                    width: 20px;
                    height: 17px;
                    background: url(https://img.etimg.com/photo/63696304.cms) no-repeat;
                    display: inline-block;
                    margin: 3px 0 0 5px;
                    cursor: pointer;
                }
            }
        }
        .videoWrap{
            margin:17px 0 0 0;
            .videoShareSec{
                background: #f5f5f5;
                display: inline-block;
                vertical-align: top;
                min-height: 420px;
                width: 78px;
                z-index: 10;
                position: relative;
            }
            .videoEmbedSec{
                background: #000;
                display: inline-block;
                vertical-align: top;
                height: 420px;
                width: 560px;
            }
            .videoDesc{
                background-color: #000;
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px;
    min-height: 54px;
    padding: 12px;
            }
        }
    }
    .sideBar{
        width: 320px;
        float: right;
        padding: 0;
        margin-top: 10px;
        position: relative;
        z-index: 1;
    }
}